<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
                <label for="name">Survey Name:</label>
                <input id="name" formControlName="name" type="text">
                <label for="name">
                  Choose Questions for The Survey:</label>
                <div *ngFor="let question of questions">
                  <input type="checkbox" [value]="question.id" (change)="onQuestionChange($event, question.id)">
                  {{question.questionText}}
                </div>

                <button type="submit">Create Survey</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div>
  <h2>Create New Survey</h2>
  <input [(ngModel)]="newSurvey.name" placeholder="Survey Title" required>
  <div>
    <h3>Available Questions</h3>
    <div *ngFor="let question of questions">
      <input type="checkbox" (change)="onCheckboxChange($event, question.id)" [value]="question.id"> {{ question.questionText }}
    </div>
  </div>
  <button (click)="createSurvey()" [disabled]="!newSurvey.name || selectedQuestions.size === 0">Create Survey</button>
</div> -->
<!-- <div *ngIf="allQuestion.length">
    <ul>
        <li>
            <label for="name">Survey Name:</label>
            <input type="text" id="name" [(ngModel)]="name" name="name" required>
        </li>
        <li>
            <label for="date">Survey Date:</label>
            <input type="date" id="date" [(ngModel)]="createdDate" name="date" [value]="today" required>
        </li>
        <label >Please enter 5 survey questions</label>
        <li *ngFor="let item of allQuestion" (click)="onSelect(item)">
            <input type="checkbox" [checked]="selectedQuestion.includes(item)">
            {{ item.questionText }}
        </li>

    </ul>
    <button class="btn bsb-btn-xl btn-primary" type="submit" (click)="addSurvey()">
        Sign up</button>
</div>
<div *ngIf="selectedQuestion.length">
    <h3>Selected Question:</h3>
    <ul>
        <li *ngFor="let item of selectedQuestion">
            {{ item.questionText }}
        </li>
    </ul>
</div> -->